@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Italic.eot);
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url(./fonts/TTLakes-Italic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Italic.woff) format('woff'),
        url(./fonts/TTLakes-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ExtraLight.eot);
    src: local('TT Lakes Condensed ExtraLight'), local('TTLakesCondensed-ExtraLight'),
        url(./fonts/TTLakesCondensed-ExtraLight.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ExtraLight.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Regular.eot);
    src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
        url(./fonts/TTLakesCompressed-Regular.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Regular.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ThinItalic.eot);
    src: local('TT Lakes Compressed Thin Italic'), local('TTLakesCompressed-ThinItalic'),
        url(./fonts/TTLakesCompressed-ThinItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ThinItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Medium.eot);
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
        url(./fonts/TTLakesCondensed-Medium.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Medium.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ExtraBoldItalic.eot);
    src: local('TT Lakes Compressed ExtraBold Italic'), local('TTLakesCompressed-ExtraBoldItalic'),
        url(./fonts/TTLakesCompressed-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ExtraBoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ExtraLightItalic.eot);
    src: local('TT Lakes ExtraLight Italic'), local('TTLakes-ExtraLightItalic'),
        url(./fonts/TTLakes-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ExtraLightItalic.woff) format('woff'),
        url(./fonts/TTLakes-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-LightItalic.eot);
    src: local('TT Lakes Light Italic'), local('TTLakes-LightItalic'),
        url(./fonts/TTLakes-LightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-LightItalic.woff) format('woff'),
        url(./fonts/TTLakes-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Thin.eot);
    src: local('TT Lakes Thin'), local('TTLakes-Thin'),
        url(./fonts/TTLakes-Thin.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Thin.woff) format('woff'),
        url(./fonts/TTLakes-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-DemiBoldItalic.eot);
    src: local('TT Lakes DemiBold Italic'), local('TTLakes-DemiBoldItalic'),
        url(./fonts/TTLakes-DemiBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-DemiBoldItalic.woff) format('woff'),
        url(./fonts/TTLakes-DemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Black.eot);
    src: local('TT Lakes Condensed Black'), local('TTLakesCondensed-Black'),
        url(./fonts/TTLakesCondensed-Black.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Black.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-LightItalic.eot);
    src: local('TT Lakes Condensed Light Italic'), local('TTLakesCondensed-LightItalic'),
        url(./fonts/TTLakesCondensed-LightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-LightItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-DemiBold.eot);
    src: local('TT Lakes Condensed DemiBold'), local('TTLakesCondensed-DemiBold'),
        url(./fonts/TTLakesCondensed-DemiBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-DemiBold.woff) format('woff'),
        url(./fonts/TTLakesCondensed-DemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ExtraBold.eot);
    src: local('TT Lakes Compressed ExtraBold'), local('TTLakesCompressed-ExtraBold'),
        url(./fonts/TTLakesCompressed-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ExtraBold.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ExtraBoldItalic.eot);
    src: local('TT Lakes ExtraBold Italic'), local('TTLakes-ExtraBoldItalic'),
        url(./fonts/TTLakes-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ExtraBoldItalic.woff) format('woff'),
        url(./fonts/TTLakes-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ExtraLight.eot);
    src: local('TT Lakes ExtraLight'), local('TTLakes-ExtraLight'),
        url(./fonts/TTLakes-ExtraLight.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ExtraLight.woff) format('woff'),
        url(./fonts/TTLakes-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Bold.eot);
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url(./fonts/TTLakesCondensed-Bold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Bold.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ThinItalic.eot);
    src: local('TT Lakes Condensed Thin Italic'), local('TTLakesCondensed-ThinItalic'),
        url(./fonts/TTLakesCondensed-ThinItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ThinItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ExtraBoldItalic.eot);
    src: local('TT Lakes Condensed ExtraBold Italic'), local('TTLakesCondensed-ExtraBoldItalic'),
        url(./fonts/TTLakesCondensed-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ExtraBoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Medium.eot);
    src: local('TT Lakes Compressed Medium'), local('TTLakesCompressed-Medium'),
        url(./fonts/TTLakesCompressed-Medium.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Medium.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Thin.eot);
    src: local('TT Lakes Condensed Thin'), local('TTLakesCondensed-Thin'),
        url(./fonts/TTLakesCondensed-Thin.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Thin.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Italic.eot);
    src: local('TT Lakes Compressed Italic'), local('TTLakesCompressed-Italic'),
        url(./fonts/TTLakesCompressed-Italic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Italic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Light.eot);
    src: local('TT Lakes Compressed Light'), local('TTLakesCompressed-Light'),
        url(./fonts/TTLakesCompressed-Light.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Light.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-LightItalic.eot);
    src: local('TT Lakes Compressed Light Italic'), local('TTLakesCompressed-LightItalic'),
        url(./fonts/TTLakesCompressed-LightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-LightItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Regular.eot);
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
        url(./fonts/TTLakesCondensed-Regular.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Regular.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Light.eot);
    src: local('TT Lakes Condensed Light'), local('TTLakesCondensed-Light'),
        url(./fonts/TTLakesCondensed-Light.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Light.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Bold.eot);
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url(./fonts/TTLakes-Bold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Bold.woff) format('woff'),
        url(./fonts/TTLakes-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-DemiBold.eot);
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
        url(./fonts/TTLakes-DemiBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-DemiBold.woff) format('woff'),
        url(./fonts/TTLakes-DemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Thin.eot);
    src: local('TT Lakes Compressed Thin'), local('TTLakesCompressed-Thin'),
        url(./fonts/TTLakesCompressed-Thin.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Thin.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Black.eot);
    src: local('TT Lakes Black'), local('TTLakes-Black'),
        url(./fonts/TTLakes-Black.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Black.woff) format('woff'),
        url(./fonts/TTLakes-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-MediumItalic.eot);
    src: local('TT Lakes Medium Italic'), local('TTLakes-MediumItalic'),
        url(./fonts/TTLakes-MediumItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-MediumItalic.woff) format('woff'),
        url(./fonts/TTLakes-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ExtraBold.eot);
    src: local('TT Lakes Condensed ExtraBold'), local('TTLakesCondensed-ExtraBold'),
        url(./fonts/TTLakesCondensed-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ExtraBold.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ExtraLightItalic.eot);
    src: local('TT Lakes Condensed ExtraLight Italic'), local('TTLakesCondensed-ExtraLightItalic'),
        url(./fonts/TTLakesCondensed-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ExtraLightItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Medium.eot);
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url(./fonts/TTLakes-Medium.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Medium.woff) format('woff'),
        url(./fonts/TTLakes-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-DemiBoldItalic.eot);
    src: local('TT Lakes Condensed DemiBold Italic'), local('TTLakesCondensed-DemiBoldItalic'),
        url(./fonts/TTLakesCondensed-DemiBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-DemiBoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-DemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-BoldItalic.eot);
    src: local('TT Lakes Compressed Bold Italic'), local('TTLakesCompressed-BoldItalic'),
        url(./fonts/TTLakesCompressed-BoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-BoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ExtraLightItalic.eot);
    src: local('TT Lakes Compressed ExtraLight Italic'), local('TTLakesCompressed-ExtraLightItalic'),
        url(./fonts/TTLakesCompressed-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ExtraLightItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Regular.eot);
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url(./fonts/TTLakes-Regular.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Regular.woff) format('woff'),
        url(./fonts/TTLakes-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-BoldItalic.eot);
    src: local('TT Lakes Bold Italic'), local('TTLakes-BoldItalic'),
        url(./fonts/TTLakes-BoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-BoldItalic.woff) format('woff'),
        url(./fonts/TTLakes-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-MediumItalic.eot);
    src: local('TT Lakes Condensed Medium Italic'), local('TTLakesCondensed-MediumItalic'),
        url(./fonts/TTLakesCondensed-MediumItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-MediumItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Italic.eot);
    src: local('TT Lakes Condensed Italic'), local('TTLakesCondensed-Italic'),
        url(./fonts/TTLakesCondensed-Italic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Italic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ThinItalic.eot);
    src: local('TT Lakes Thin Italic'), local('TTLakes-ThinItalic'),
        url(./fonts/TTLakes-ThinItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ThinItalic.woff) format('woff'),
        url(./fonts/TTLakes-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-DemiBold.eot);
    src: local('TT Lakes Compressed DemiBold'), local('TTLakesCompressed-DemiBold'),
        url(./fonts/TTLakesCompressed-DemiBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-DemiBold.woff) format('woff'),
        url(./fonts/TTLakesCompressed-DemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-BlackItalic.eot);
    src: local('TT Lakes Black Italic'), local('TTLakes-BlackItalic'),
        url(./fonts/TTLakes-BlackItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-BlackItalic.woff) format('woff'),
        url(./fonts/TTLakes-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Bold.eot);
    src: local('TT Lakes Compressed Bold'), local('TTLakesCompressed-Bold'),
        url(./fonts/TTLakesCompressed-Bold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Bold.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-BlackItalic.eot);
    src: local('TT Lakes Condensed Black Italic'), local('TTLakesCondensed-BlackItalic'),
        url(./fonts/TTLakesCondensed-BlackItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-BlackItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-MediumItalic.eot);
    src: local('TT Lakes Compressed Medium Italic'), local('TTLakesCompressed-MediumItalic'),
        url(./fonts/TTLakesCompressed-MediumItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-MediumItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-BoldItalic.eot);
    src: local('TT Lakes Condensed Bold Italic'), local('TTLakesCondensed-BoldItalic'),
        url(./fonts/TTLakesCondensed-BoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-BoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ExtraLight.eot);
    src: local('TT Lakes Compressed ExtraLight'), local('TTLakesCompressed-ExtraLight'),
        url(./fonts/TTLakesCompressed-ExtraLight.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ExtraLight.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ExtraBold.eot);
    src: local('TT Lakes ExtraBold'), local('TTLakes-ExtraBold'),
        url(./fonts/TTLakes-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ExtraBold.woff) format('woff'),
        url(./fonts/TTLakes-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-DemiBoldItalic.eot);
    src: local('TT Lakes Compressed DemiBold Italic'), local('TTLakesCompressed-DemiBoldItalic'),
        url(./fonts/TTLakesCompressed-DemiBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-DemiBoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-DemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-BlackItalic.eot);
    src: local('TT Lakes Compressed Black Italic'), local('TTLakesCompressed-BlackItalic'),
        url(./fonts/TTLakesCompressed-BlackItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-BlackItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Light.eot);
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url(./fonts/TTLakes-Light.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Light.woff) format('woff'),
        url(./fonts/TTLakes-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Black.eot);
    src: local('TT Lakes Compressed Black'), local('TTLakesCompressed-Black'),
        url(./fonts/TTLakesCompressed-Black.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Black.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}


html,
body,
ul,
menu,
p,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.btn {
  border: none;
  outline: none;
  background: none; }

a, .btn {
  cursor: pointer; }

.not-hover, .brend__btn svg, .kind__btn svg, .order-btn, .nav__btn svg {
  border-radius: 50%;
  border: 3px solid transparent; }

.hover, .brend__btn:hover, .brend__btn:focus, .kind__btn:hover, .kind__btn:focus, .order-btn:hover, .order-btn:focus, .nav__btn:hover svg, .nav__btn:focus svg {
  opacity: 1;
  transition: .3s;
  border-color: #FF69B4;
  box-shadow: 0 0 20px rgba(252, 15, 192, 0.64); }

.active, .brend__btn:active, .kind__btn:active, .order-btn:active, .nav__btn:active svg {
  border: 3px solid #33FF99;
  box-shadow: 0 0 20px #33ff99; }

.selected, .side-menu .menu__select-marker, .services__title::before {
  position: absolute;
  content: url(./static/highlight.png);
  left: -5px;
  bottom: 1px; }

.about-hover:focus, .next-btn:focus, .about__btn:focus, .about-hover:hover, .next-btn:hover, .about__btn:hover {
  color: rgba(71, 126, 232, 0.7);
  transition: .4s; }

.about-hover:active, .next-btn:active, .about__btn:active {
  color: #41F6D7; }

.swipers-title, .brends-title, .kind-title, .prices-title {
  background: linear-gradient(102deg, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5;
  font-size: .98rem;
  font-weight: 300;
  padding: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 19px; }

.swiper-item, .brend__btn, .kind__btn, .kind-list__item, .price-list {
  background-color: white;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  display: flex;
  margin-left: 17px; }

.heightTBtn, .next-btn__text, .height-btn__text {
  font-size: .97rem;
  font-weight: 600; }

.side-menu {
  width: 320px;
  transform: translateX(-130%);
  background-color: #FFFFFF;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  position: fixed;
  top: 0;
  z-index: 2; }
  .side-menu .side-menu__header {
    margin-bottom: 3px; }
  .side-menu .nav {
    display: flex;
    justify-content: space-between;
    padding: 18px 7px; }
  .side-menu .nav__logo {
    margin-right: 78px; }
  .side-menu .main {
    margin-bottom: 13px; }
  .side-menu .menu {
    display: flex;
    flex-flow: column;
    height: 358px;
    justify-content: space-between;
    align-items: baseline; }
  .side-menu .menu__item {
    list-style: none;
    padding-left: 16px;
    position: relative; }
  .side-menu .menu__select-marker {
    height: 25px;
    bottom: -2px;
    left: 0;
    display: none; }
  .side-menu .menu__name {
    color: black; }
  .side-menu .footer {
    display: flex;
    flex-flow: column;
    padding-bottom: 25px; }
  .side-menu .comunications {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    margin-top: 16px;
    margin-bottom: 9px; }
  .side-menu .comunications__item {
    list-style: none; }
  .side-menu .footer__mail {
    color: black;
    text-decoration: none;
    padding-left: 15px;
    font-weight: 500;
    margin-bottom: 13px; }
  .side-menu .footer__phone {
    color: black;
    text-decoration: none;
    font-weight: 800;
    padding-left: 16px;
    letter-spacing: -.7px;
    font-size: 1.5em;
    margin-bottom: 11px; }
  .side-menu .langs {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 16px; }
  .side-menu .langs__item {
    list-style: none;
    display: flex;
    padding-right: 10px; }
  .side-menu .langs__btn {
    font-size: .95em;
    padding: 0;
    font-weight: 500; }
  .side-menu .langs__btn:active {
    opacity: .6; }

@media (min-width: 360px) {
  .side-menu {
    padding-left: 8px;
    width: 360px; }
  .nav__logo {
    transform: scale(1.06);
    margin-right: 95px; }
  .nav:last-child {
    padding-right: 15px; } }

@media (min-width: 361px) {
   .side-menu {
    padding-left: 0px; }
  .side-menu__header {
    margin-bottom: 27px; }
  .nav__logo {
    margin-right: 63px;
    transform: scale(1); }
  .main {
    margin-bottom: 100px; } }

@media (min-width: 550px) {
  .side-menu {
    width: 320px; }
    .side-menu .menu__select-marker {
      left: -8px; }
  .main {
    margin-bottom: 306px; }
  .footer__phone {
    margin-bottom: 43px; } }

.brends-title {
  margin-top: 18px; }

.swiper-wrapper {
  margin-bottom: 23px; }

.brend-list__item {
  margin-left: 17px; }

.brend__btn {
  padding: 0 14px;
  width: 240px;
  align-items: center;
  justify-content: space-between;
  height: 70px; }

.kind__btn {
  align-self: flex-end;
  padding-bottom: 10px;
  padding-right: 15px;
  flex-flow: column;
  min-height: 160px;
  justify-content: space-between;
  width: 240px; }
  .kind__btn svg {
    align-self: flex-end; }

.swiper-container {
  overflow-x: hidden; }

.swiper-pagination {
  position: relative; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: 4px; }

.swiper-pagination-progressbarr-fill {
  background-color: transparent; }

.swiper-pagination-bullet {
  background: #B5B6BC;
  width: 12px;
  height: 12px; }

.brends {
  display: none; }

.brend-list {
  margin: 0;
  padding: 0; }

.full-size {
  overflow: visible; }

.kind-title {
  margin-top: 7px;
  margin-bottom: 16px; }

.kind-list__item {
  flex-flow: column;
  min-height: 160px;
  justify-content: space-between;
  width: 240px; }

.kind-tech {
  color: black;
  padding-top: 15px;
  padding-left: 14px;
  font-weight: 400;
  font-size: .95rem; }

.prices-title {
  margin-top: 7px;
  margin-bottom: 16px; }

.price-list {
  color: black;
  min-width: 260px;
  min-height: 200px;
  display: flex;
  flex-flow: column;
  margin-left: 7px;
  width: 262px; }

.price-list__item {
  display: flex;
  flex-flow: column;
  padding-left: 16px;
  padding-top: 9px; }

.price-list__item:last-child {
  flex-flow: row; }

.price-list__item-left {
  display: flex;
  flex-flow: column; }

.price-list__item-right {
  padding-left: 28px;
  padding-top: 18px; }

.price-list__title {
  font-weight: 500;
  color: #7E7E82;
  margin-top: 5px;
  font-size: .85rem;
  margin-bottom: 1px; }

.price-list__content {
  font-size: .9rem;
  font-weight: 400; }

.order-btn {
  width: 119px;
  height: 32px;
  background: #FF3E79;
  border-radius: 16px;
  color: white;
  font-family: "TT Lakes";
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: .76rem; }

.price-text {
  width: 250px;
  padding-left: 15px; }

.price-text__description {
  margin: 0;
  font-size: .9rem;
  margin-bottom: 21px; }

.footer-info {
  border-top: 1px solid #D9FFF5;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  font-size: .88rem;
  text-align: center;
  color: #7E7E82; }

.footer-info__developer {
  width: 230px;
  padding-top: 15px;
  white-space: pre-line;
  line-height: 17px; }

.footer-info__confidential {
  padding-top: 13px; }

.footer-info__remark {
  padding-top: 15px;
  line-height: 17px; }

.price-text__offer {
  color: black; }
  .price-text__offer svg {
    padding-left: 4px;
    padding-top: 8px; }

@media (min-width: 768px) {
  .swiper-container {
    display: none; }
  .brend-list {
    display: flex;
    flex-flow: wrap;
    margin-left: 7px;
    overflow: hidden;
    height: 160px;
    margin-bottom: 25px; }
  .brends {
    display: flex;
    flex-flow: column;
    align-items: flex-start; }
  .brend-list__item {
    margin: 0;
    margin-right: 6px;
    margin-bottom: 18px; }
  .next-btn {
    margin-left: 24px; }
    .next-btn svg {
      margin-right: 13px; }
  .header-title {
    padding-left: 24px; } }

@media (min-width: 1120px) {
  .brend-list__item {
    width: 240px;
    margin-right: 31px; } }

.body {
  margin: 0 auto;
  min-width: 320px;
  background-color: #F8F8F8;
  font-family: "TT Lakes", sans-serif;
  max-width: 1440px; }

.modals {
  transition: 1s; }

.modal-call {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(130%);
  width: 320px;
  z-index: 11;
  height: 100%; }
  .modal-call .nav__btn {
    padding-top: 21px;
    padding-left: 12px;
    margin-bottom: 14px; }
  .modal-call .order-btn {
    margin: 0 53%;
    width: 134px; }

.modal-call__header {
  padding-left: 15px;
  font-size: 1.44rem;
  margin-bottom: 24px; }
  .modal-call__header::before {
    position: absolute;
    content: url(./static/highlight.png);
    height: 30px;
    left: 0;
    top: 100px; }

.modal-input {
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  width: 268px;
  height: 43px;
  margin-left: 15px;
  font-size: .96rem;
  padding-left: 17px;
  color: #B5B6BC;
  margin-bottom: 17px;
  font-family: "TT Lakes", sans-serif;
  font-weight: 500; }

.modal-call__remark {
  font-size: .9rem;
  padding-left: 15px;
  width: 280px;
  line-height: 17px;
  margin-bottom: 15px; }

.modal-call__link {
  color: #FF3E79; }

.modal-feedback {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(130%);
  width: 320px;
  z-index: 12;
  height: 100%; }
  .modal-feedback .nav__btn {
    padding-top: 21px;
    padding-left: 12px;
    margin-bottom: 14px; }
  .modal-feedback .order-btn {
    margin: 0 53%;
    width: 134px; }

.modal-input__message {
  height: 102px;
  padding-top: 12px;
  margin-bottom: 10px; }

.header {
  background-color: white;
  border-bottom: 1px solid #D9FFF5;
  padding: 17px 0; }

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between; }

.menu__burger {
  width: 20%;
  display: flex;
  justify-content: center;
  padding-left: 16px; }

.menu__modals {
  display: flex;
  width: 40%;
  padding-left: 10px;
  align-items: center; }

.comunications {
  display: none; }

.repair {
  display: flex;
  list-style: none;
  width: 132px;
  padding: 0;
  justify-content: center; }

.repair_header::before {
  content: "";
  width: 2px;
  background-color: #EAEAEA;
  position: absolute;
  height: 32px;
  right: 132px;
  top: 27px; }

.repair__item {
  padding-right: 3px; }

.main__header {
  display: flex; }

.repair_main {
  display: none; }

.services {
  margin-bottom: 16px; }

.services__title {
  position: relative;
  font-size: 1.68rem;
  padding-left: 16px; }

.services__title::before {
  top: 0;
  left: 0; }

.services__names {
  display: flex;
  margin: 0;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0;
  padding-left: 15px; }

.services__names::-webkit-scrollbar {
  display: none; }

.services__name {
  font-size: 1rem;
  margin-top: 3px;
  padding-top: 6px;
  margin-bottom: 10px;
  margin-right: 2px; }

.services__adress {
  color: black;
  outline: none;
  padding: 7px 15px;
  border: 2px solid transparent; }
  .services__adress:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px; }
  .services__adress:focus {
    background-color: white;
    border-color: #B8FFEC;
    border-radius: 6px; }

.about__title {
  display: none; }

.about__wrap {
  display: flex;
  flex-flow: column;
  margin-bottom: 17px; }

.about__text {
  font-size: .9rem;
  margin: 0;
  padding: 22px 15px;
  line-height: 18px;
  overflow: hidden;
  height: 67px; }

.about__next {
  padding-left: 16px;
  padding-top: 17px;
  font-weight: 500; }

.about__btn {
  padding-left: 22px;
  padding-top: 19px;
  align-self: flex-start; }
  .about__btn span {
    padding-left: 16px;
    font-weight: 500; }

.about__text_full-size {
  height: auto; }

.office-photo {
  width: 100%; }
  .office-photo img {
    width: 320px;
    height: 175px; }

.main {
  margin-bottom: 47px; }

.techs {
  display: none; }

.techs-list {
  overflow: hidden;
  height: 165px;
  margin-bottom: 25px;
  display: flex;
  flex-flow: wrap; }

.prices {
  display: none; }

.open {
  transform: translateX(0%);
  transition: 1s; }
  .open ~ div {
    -webkit-filter: blur(10px);
            filter: blur(10px); }

@media (min-width: 348px) {
  .about__text {
    height: 50px; } }

@media (min-width: 550px) {
  .menu__modals {
    width: 60%;
    justify-content: space-between; }
  .menu__burger {
    width: 15%; }
  .comunications {
    display: flex; }
  .about {
    display: flex; }
  .about__wrap {
    width: 50%; }
  .office-photo {
    width: 357px;
    border-radius: 6px;
    margin-top: 15px; }
  .price-text {
    padding-left: 24px;
    width: 430px; }
  .price-text__description {
    margin-bottom: 15px; }
  .footer-info {
    flex-flow: row;
    align-items: baseline; }
  .footer-info__developer {
    width: 220px;
    text-align: start;
    padding-left: 23px;
    padding-top: 33px; }
  .footer-info__confidential {
    padding-left: 11px; }
  .footer-info__remark {
    width: 230px;
    text-align: end;
    padding-right: 26px; } }

@media (min-width: 768px) {
  .menu__burger {
    width: 10%;
    position: relative; }
    .menu__burger::after {
      position: absolute;
      content: "";
      width: 2px;
      background-color: #EAEAEA;
      position: absolute;
      height: 32px;
      left: 83px;
      top: 5px; }
  .menu__modals {
    width: 66%;
    padding-left: 18px; }
  .repair {
    width: 140px; }
  .repair_header::before {
    right: 140px; }
  .services {
    margin-bottom: 30px; }
  .services__title {
    padding-left: 25px; }
  .services__names {
    padding-top: 6px;
    padding-left: 22px; }
  .services__name {
    margin-right: 0; }
  .about__wrap {
    width: 47%; }
  .about__text {
    height: 125px;
    padding: 31px 24px;
    line-height: 20px; }
  .about__next {
    padding-left: 27px;
    padding-top: 15px; }
  .about__btn {
    padding-left: 33px;
    padding-top: 17px; }
    .about__btn span {
      padding-left: 14px; }
  .office-photo {
    margin-top: 31px;
    margin-left: 24px;
    height: 206px; }
    .office-photo img {
      width: 358px;
      height: 208px; }
  .brends-title {
    padding-left: 24px; }
  .brend-list {
    padding-top: 5px; }
  .kind-title {
    margin-top: 33px;
    padding-left: 24px;
    margin-bottom: 25px; }
  .kind-list__item {
    width: 222px;
    margin-left: 24px; }
  .techs-list {
    margin-bottom: 20px; }
  .prices-title {
    margin-top: 34px;
    padding-left: 24px; }
  .techs {
    display: flex;
    flex-flow: column;
    align-items: flex-start; }
  .techs-list__item {
    margin-bottom: 20px; }
  .prices {
    display: flex;
    flex-flow: column;
    margin-bottom: 28px;
    padding-left: 24px; }
  .prices-titles {
    display: flex;
    align-self: flex-start;
    font-size: .89rem;
    font-weight: 500;
    color: #7E7E82;
    justify-content: space-between;
    width: 68%;
    margin-bottom: 16px;
    padding-left: 15px; }
  .price-title {
    padding-top: 13px; }
    .price-title:first-child {
      width: 312px; }
  .prices-list {
    display: flex;
    flex-flow: column;
    width: 97%;
    background-color: white;
    border-radius: 6px;
    align-items: center; }
  .prices-list__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 95%;
    font-size: .89rem; }
    .prices-list__item span {
      padding: 22px 0 23.5px 0; }
    .prices-list__item button {
      align-self: center; }
    .prices-list__item:not(:last-child):after {
      content: "";
      position: absolute;
      height: 1px;
      width: inherit;
      background-color: #EAEAEA;
      bottom: 1px; }
    .prices-list__item .repair-service {
      width: 345px; }
    .prices-list__item .repair-time {
      width: 81px; }
    .prices-list__item .price-value {
      width: 74px;
      padding-left: 5px; }
  .brend__btn {
    width: 225px; }
  .techs-list__item {
    margin-left: 7px; }
  .kind__btn {
    width: 225px;
    padding-right: 14px;
    padding-bottom: 12px; } }

@media (min-width: 920px) {
  .main {
    padding-top: 6px; }
  .main__header {
    justify-content: space-between;
    align-items: baseline;
    padding-top: 19px; }
  .services__title {
    padding-left: 33px;
    margin: 0; }
  .repair_main {
    display: flex;
    width: 38%;
    margin: 0;
    padding-top: 3px; }
  .repair__item {
    width: 176px;
    margin-right: 12px;
    margin-left: 14px; }
  .repair__name {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-top: 10px;
    font-weight: 500; }
  .services__names {
    margin: 0;
    padding-top: 3px;
    padding-left: 40px; }
  .about__title {
    display: block;
    font-size: .95rem;
    padding-left: 57px; }
  .about__wrap {
    width: 50%; }
  .about__text {
    padding: 8px 35px;
    height: 150px; }
  .about__next {
    padding-top: 16px;
    padding-left: 35px; }
  .office-photo {
    width: 531px;
    margin-top: 46px;
    margin-left: 1px;
    height: 306px; } }

@media (min-width: 1120px) {
  .menu__burger::after {
    left: 130px; }
  .repair_header::before {
    right: 170px; } }

@media (min-width: 1440px) {
  .header {
    display: none; }
  .main-content {
    max-width: 1120px; }
  .content {
    display: flex; }
  .modal-feedback {
    width: 440px; }
    .modal-feedback .order-btn {
      margin: 0 62%; }
  .modal-input {
    margin-left: 31px;
    width: 356px; }
  .modal-feedback .nav__btn {
    position: absolute;
    left: -88px;
    top: 9px; }
  .modal-call {
    width: 440px; }
    .modal-call .nav__btn {
      position: absolute;
      left: -88px;
      top: 9px; }
    .modal-call .order-btn {
      margin: 0 62%; }
  .modal-call__header {
    padding-left: 31px;
    font-size: 1.45rem;
    margin-top: 41px; }
    .modal-call__header::before {
      top: 32px; }
  .modal-call__remark {
    width: 370px;
    padding-left: 32px;
    font-size: .88rem; }
  .side-menu {
    position: unset;
    transform: unset;
    box-shadow: none;
    padding: 0; }
    .side-menu .menu__select-marker {
      left: 0px; }
    .side-menu .side-menu__header {
      margin-bottom: 4px; }
    .side-menu .nav {
      padding: 28px 21px; }
    .side-menu .nav:last-child {
      padding-right: 34px; }
    .side-menu main {
      padding-top: 1px; }
    .side-menu .menu {
      height: 369px;
      margin-bottom: 220px; }
    .side-menu .menu__item {
      padding-left: 24px; }
    .side-menu .footer__phone {
      margin-bottom: 46px; }
    .side-menu .langs {
      padding-left: 22px; }
    .side-menu .close {
      display: none; }
  .services__title {
    padding-left: 21px; }
    .services__title::before {
      left: 0; }
  .services__names {
    white-space: unset;
    font-size: .85rem; }
  .services__name {
    font-size: .85rem; }
  .repair__item {
    margin-left: 0;
    margin-right: 28px; }
  .services {
    margin-bottom: 51px; }
  .services__names {
    padding-left: 21px; }
  .about__wrap {
    width: 49%; }
  .about__title {
    padding-left: 45px; }
  .about__text {
    padding: 8px 19px;
    font-size: .92rem; }
  .about__btn {
    padding-left: 25px;
    padding-top: 19px; }
  .office-photo {
    margin-left: 0; }
    .office-photo img {
      border-radius: 6px;
      width: 527px;
      height: 305px; }
  .brends-title {
    padding-left: 19px; }
  .brend-list {
    margin-left: 20px; }
  .next-btn {
    margin-left: 19px; }
  .techs-list__item {
    margin-right: 15px; }
  .kind-title {
    margin-top: 51px;
    padding-left: 18px; }
  .kind-list__item {
    width: 235px;
    margin-right: 10px; }
  .kind-tech {
    font-size: 1rem; }
  .kind__btn {
    padding-right: 11px; }
  .prices-title {
    margin-top: 51px;
    padding-left: 18px; }
  .prices-list__item {
    width: 95%; }
  .price-text {
    padding-left: 18px;
    padding-top: 9px; }
  .footer-info__confidential {
    padding-right: 4px; }
  .footer-info__developer {
    padding-left: 17px;
    padding-top: 36px; }
  .footer-info__confidential {
    padding-right: 8px; }
  .footer-info__remark {
    width: 335px;
    padding-right: 50px; } }


/*# sourceMappingURL=style.css.map*/
